.App {
  text-align: center;
  height: fit-content;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  order: 3;
  height: 60px;
  justify-content: flex-end;
  width: 100%;  
  /* position: fixed; */
  bottom: 0px;
  background-color: #3c4666;
}

.container {
  order: 2;
  /* width: 94%; */
  height: calc(100vh - 182px);
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  background: white;
}

/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
